@import "libs/variables.scss"; 

@mixin mixingradient {
    background: linear-gradient(170deg, $rose, $violet );
  }

@font-face {
    font-family: 'Police';
    src: url('../police/Shrikhand-Regular.ttf')format('truetype');     
}


#entete
{
    margin-top: 3%;
    text-align: center;    
    
}


.entete_menu
{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 3%;
    
    
}
.iconecolor
{
    color:$rose;
}

.icone_retour
{
    padding: 3%;
    margin-left: 3%;
    margin-right: 10%;
    
}


h2
{
    font-family: 'Police', cursive;
}

body
{
    margin: 0%;
    p
    {
        margin: 2%;
    }
}

.conteneur_recherche
{
    display: flex;
    flex-direction: flex;
    text-align: center; 
    background-color: $rose ;
    margin-top: 3%;
    
    
    
}

conteneur_map
{
    display: flex;
    border-radius: 12px 12px 12px 12px;
    width:30%;
    
}


.conteneur_map
{
    display: flex;
    justify-content: center; 
    background-color: rgb(230, 230, 230);
    padding: 3%;
    
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3) inset;
    width: 100%;
}

.icone_map
{
    margin-right: 3%;
    border-radius: none;
}

a{
    text-decoration: none;
    color: white;
}

.conteneur_navigation
{
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-top: 10%;
    justify-content: center;
    
}

.conteneur_recherche
{
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
    
    .fond_recherche
    {
        background: $fond_gris;
        padding-bottom: 50px;
    }

    .ancre_recherche
    {
        border-radius: 50px 50px 50px 50px;
        @include mixingradient;
        width: 200px;
        padding: 3%;
        margin: auto;
        margin-top: 4%; 
        color: white;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);

        &:hover {
            background : lighten($rose, 5);
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
        }
    }
}

.element_nav
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75vw;
    border-radius: 20px 20px 20px 20px;
    padding: 5%;
    margin: auto;
    margin-top: 7%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.element_nav2
{
    @extend .element_nav;
    background-color:#f2e9fc;
}

.nombre
{
    height: 26px;
    width: 26px;
    border-radius: 13px 13px 13px 13px;
    background-color: $violet;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: -23%;
    
}

.icone_navcolor
{
    color: $violet;
}

.titre_nav, .element_titre
{
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
}

#conteneur_cartes
{
    display: flex;
    flex-direction: column;
    margin-bottom: 0%;
    margin-top: 10%;
    align-content: space-between;
    background-color: $fond_gris ;
    width: 100%;
    align-content: center;
}

.conteneur_restaurant
{
    display: flex;
    flex-direction: column;
    width: 87vw;
    height: 250px;
    border-radius: 13px 13px 13px 13px;
    border: #F2F2F2 1px solid;
    margin-bottom: 7%;
    align-items: center;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-bottom: 5%;
   
}

.img_presentation
{
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 13px 13px 0px 0px;
}

.img_restaurant
{
    width: 100%;
}

.description_restaurant
{
    display: flex; 
    justify-content: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-right: 7%;

}
.conteneur_description
{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    justify-content: space-evenly;
   
    
}

.titre_restaurant
{
    font-weight: bold;
}

.note_restaurant
{
    margin-top: 4%;
}



footer
 {
    color: white;
    background-color: rgb(51, 51, 51);
    padding-bottom: 5%;
 }

.conteneur_footer
{
    display: flex;
    flex-direction: column;
    margin: 7%;
    margin-top: 0%;
    height: 100%;
    align-content: space-between;
    
}

.img_logo
{
    height: 55px;
    width: 90px;
    color: white;
}


.conteneur_titregout
{
    display: flex;
    font-family: 'Police', cursive;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 12%;
    margin-top: 6%;
    
    
}


.conteneur_platsgout
{
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-top: 0%;
    justify-content: center;
}

.fond_menu
{
    display: flex;
    flex-direction: column;
    border-radius: 50px 50px 0px 0px;
    background-color: $fond_gris;
    margin-top: -50px;
    
}

.description_menugout
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75vw;
    border-radius: 15px 15px 15px 15px;
    padding: 5%;
    margin: auto;
    margin-top: 7%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    
}

.icone_gout
{
    padding-top: 27px;
    margin-left: 4%;
}

.icone_cachee
    {
        margin-top: -16px;
        opacity: 0;
        color: $rose;

        &:hover
        {
            opacity: 1;  
            transition: opacity 1000ms;
        }
    }

.btncommander
{
    display: flex;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    background: linear-gradient(170deg, $rose, $violet );
    width: 150px;
    padding: 3%;
    margin: auto;
    margin-top: 4%;
    color: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);

    &:hover {
        background : lighten($rose, 5);
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
        color: white;
    }
}

.conteneur_imgpresentation
{
    background-image: url("../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    width: 100%;
    height :250px;
    background-size: cover;
}

.conteneur_imgpresentation2
{
    background-image: url("../images/stil-u2Lp8tXIcjw-unsplash.jpg");
    width: 100%;
    height :250px;
    background-size: cover;
}

.conteneur_imgpresentation3
{
    background-image: url("../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    width: 100%;
    height :250px;
    background-size: cover;
}

.conteneur_imgpresentation4
{
    background-image: url("../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    width: 100%;
    height :250px;
    background-size: cover;
}

.img_presentationgout
    {
        border-radius: none;
        width: 100%;
        height: 175px;
        object-fit: cover;
    }

    .prix_platgout
    {
        padding-top :20px;
    }

    .conteneur_menugout
    {
        display : flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }

    .titre_menugout
    {
    padding-bottom :2%;
    margin-top: 7%;
    border-bottom: 3px solid $bleu;
    width: 40px;
    }

    .titre_platgout
    {
        font-weight: bolder;
    }

    .description_platgout
    {
        font-size: 12px;
    }

   
   
   
   
   
   


   
