@import "libs/variables.scss"; 

@mixin mixingradient {
    background: linear-gradient(170deg, $rose, $violet );
  }

@font-face {
    font-family: 'Shrikhand';
    src: url('../police/Shrikhand-Regular.ttf')format('truetype');     
}

@font-face {
    font-family: 'Roboto';
    src: url('../police/Roboto-Regular.ttf')format('truetype');     
}

#entete
{
    margin-top: 3%;
    text-align: center;    
}

.entete_menu
{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 3%;
}
.iconecolor
{
    color:black;
}

.icone_retour
{
    padding: 3%;
    margin-left: 3%;
    margin-right: 10%; 
}

h1, h2, h3
{
    font-weight: bolder;
    font-size :17px;
}

h1
{
    text-align: center;
}

body
{
    animation: fade 3000ms;
    font-family: "Roboto", cursive;
    margin: 0%;
    
    p
    {
        margin: 1%;
        text-align: center;
        margin-bottom: 4%;
    }
}



.element_recherche
{
    display: flex;
    justify-content: center;
}

.conteneur_map
{
    display: flex;
    justify-content: center; 
    background-color: rgb(230, 230, 230);
    padding: 3%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3) inset;
    width: 100%;
}

.icone_map
{
    margin-right: 3%;
}

a{
    text-decoration: none;
    color: white;
}

.conteneur_navigation
{
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-top: 10%;
    justify-content: center;
}

.conteneur_recherche
{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 3%;
    
    
    .fond_recherche
    {
        background: $fond_gris;
        padding-bottom: 50px;
    }

    .ancre_recherche
    {
        border-radius: 50px 50px 50px 50px;
        @include mixingradient;
        width: 200px;
        padding: 3%;
        text-align: center;
        margin-top: 1%; 
        color: white;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);

        &:hover 
        {
            background : lighten($rose, 5);
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
        }
    }
}

.element_nav
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75vw;
    border-radius: 20px 20px 20px 20px;
    padding: 5%;
    margin: auto;
    margin-top: 7%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.element_nav2
{
    @extend .element_nav;
    background-color:#f2e9fc;
}

.nombre
{
    height: 26px;
    width: 26px;
    border-radius: 13px 13px 13px 13px;
    background-color: $violet;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: -23%;
}

.icone_navcolor
{
    color: $violet;
}

.titre_nav
{
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

.element_titre
{
    @extend .titre_nav;
    margin-left: 5%;
}
#conteneur_cartes
{
    display: flex;
    flex-direction: column;
    margin-bottom: 0%;
    margin-top: 10%;
    align-content: space-between;
    background-color: $fond_gris ;
    width: 100%;
    align-content: center;
}

.conteneur_restaurant
{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 87vw;
    height: 250px;
    border-radius: 13px 13px 13px 13px;
    border: #F2F2F2 1px solid;
    margin-bottom: 7%;
    align-items: center;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-bottom: 5%;
}

.img_presentation
{
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 13px 13px 0px 0px;
}

.img_restaurant
{
    width: 100%;
}

.description_restaurant
{
    display: flex; 
    justify-content: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-right: 7%;
    color: black;
}
.conteneur_description
{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    justify-content: space-evenly; 
    
}

.titre_restaurant
{
    font-weight: bold;
}

.note_restaurant
{
    margin-top: 4%;
    margin-right: 3%;
}

footer
{
    color: white;
    background-color: rgb(51, 51, 51);
    padding-bottom: 7%;
    
}

.conteneur_footer
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.icone_proposition
{
    padding-right: 3%;
}

.icone_partenaire
{
    padding-right: 1%;
}

.logo_footer
{
    @extend .lien_footer;
    font-family: "Shrikhand", cursive;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 2%;
    
}

.lien_footer
{
    margin-bottom : 3%;
    margin-left: 5%;
}

.img_logo
{
    height: 55px;
    width: 90px;
    color: white;
}

.conteneur_titregout
{
    display: flex;
    font-family: 'Shrikhand', cursive;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 12%;
    margin-top: 6%;
    
    
}

.conteneur_platsgout
{
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-top: 0%;
    justify-content: center;
    
}



.fond_menu
{
    display: flex;
    flex-direction: column;
    border-radius: 50px 50px 0px 0px;
    background-color: $fond_gris;
    margin-top: -50px;
    
}

.description_menugout
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 85vw;
    border-radius: 15px 15px 15px 15px;
    margin-top: 7%;
    margin:3%;
    height: 50px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);  
    animation: taille 1000ms backwards;

        @for $i from 1 through 4 {
            &--#{$i} {
            animation-delay: 333ms * $i;
    }
}
    
}



.icone_gout
{
    padding-top: 15px;
    margin-left: 4%;
}

.nouveau
{
    height: 25px;
    width: 70px;
    background-color: $bleu;
    color: rgb(5, 56, 23);
    padding-left: 2%;
    padding-top: 2%;
    position: absolute;
    top : 2%;
    right : 2%;
    border-radius: 5px 5px 5px 5px;
}

.icone_cachee
{
    margin-top: -23px;
    opacity: 0;
    color: $rose;

    &:active
    {
        opacity: 1;  
        transition: opacity 1000ms;
        
    }
}

.icone_cacheeaccueil 
{
    margin-top: -19px;
    opacity: 0;
    color: #FF79DA; 
}

.btncommander
{
    display: flex;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    background: linear-gradient(170deg, $rose, $violet );
    width: 150px;
    padding: 3%;
    margin: auto;
    margin-top: 4%;
    color: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);

    &:hover {
        background : lighten($rose, 5);
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
        color: white;
    }
}

.conteneur_imgpresentation
{
    background-image: url("../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    width: 100%;
    height :250px;
    background-size: cover;
}

.conteneur_imgpresentation2
{
    background-image: url("../images/stil-u2Lp8tXIcjw-unsplash.jpg");
    width: 100%;
    height :250px;
    background-size: cover;
}

.conteneur_imgpresentation3
{
    background-image: url("../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    width: 100%;
    height :250px;
    background-size: cover;
}

.conteneur_imgpresentation4
{
    background-image: url("../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    width: 100%;
    height :250px;
    background-size: cover;
}

.img_presentationgout
{
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.prix_platgout
{
    padding-top :15px;
    margin-right: 1%;     
}

.conteneur_menugout
{
    display : flex;
    flex-direction: column;
    margin :3%;
      
}

.element_cache
{
  background-color: $bleu;
  height: 100%;
  width: 15%;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;  
  position: relative;
  right: -20px;
  display: none;
  margin: 0%;
}


@keyframes decalage
{
  0%
  {
    transform: translate(0px,0px);
    opacity: 0;
  }
  100%
  {
    transform: translate(-20px,0px);
    opacity:1;
  }
}



.description_menugout:active .element_cache
{
  animation: decalage 1000ms forwards ease;
  display: flex;
  overflow: hidden;

  
}
  
.icone_selection
{
    color: white;
}

.titre_menugout
{
    padding-bottom :2%;
    margin-top: 7%;
    border-bottom: 3px solid $bleu;
    width: 40px;
}

.titre_platgout
{
    font-weight: bolder;
    font-size: 14px;
    text-overflow: ellipsis;
    
    
}

.description_platgout
{
    font-size: 12px;
    text-overflow: ellipsis;
}

.bloc_page {
    width: 100%;
    margin: auto;
    position: relative;
    text-align: justify;
}
   
  
.loader
{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    left: 42%;
    top: 350px;
    margin: 0%;
}

.loader-cercle
{
    border-radius: 50px;
    border: 6px solid transparent;
    
}
   


.loader-cercle:after
{
    position: absolute;
    left: -6px;
    top: -6px;
    bottom: -6px;
    right: -6px;
    border-radius: 50px;
    content:"";
    border: 6px solid transparent;
    border-top-color: $violet;
    animation: loader-cercle 1000ms linear 150ms;
    animation-iteration-count : 2;
    opacity: 0; 
    
}

    
@keyframes loader-cercle{
    0% 
    {
        transform: rotate(0deg);
        opacity: 1;   
    }
    75%
    {
        transform: rotate(260deg);
        opacity: 1; 
    }
    100% 
    {
        transform: rotate(360deg);
        opacity: 0;
    }
}

  @keyframes fade {
    0% 
    {
        opacity:0;   
    }
    75%
    {
        opacity: 0.5; 
    }
    100% 
    {
        opacity: 1;
    }
  }


  @keyframes taille 
{
  0%  
  {
    opacity: 0;
      
  }
  100% 
  {
    opacity: 1;
      
  }
}